* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/***********
HEADER
***********/

#logoGretaEat {
    display: flex;
    justify-content: center;
    background-image: url(/assets/istockphoto-1438547354-2048x2048.jpg);
}

#logoGretaEat img {
    width: 400px;
}

#navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: lightgrey;
    padding: 10px;
}

#navigation h2 {
    font-size: 30px;
}


#navigation h2:hover {
    color: rgba(85, 171, 20, 0.957);
}

nav a {
    text-decoration: none;
    color: black;
}

/*NAV*/

#recipeDetails {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 10px;
    flex-direction: column;
    font-size: 20px;
}

#recipeDetails img {
    width: 500px;
}

section h2 {
    display: flex;
    justify-content: center;
    color:rgba(85, 171, 20, 0.957);
}


#container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#container img {
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

/*SECTION*/

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

footer div {
    margin-top: 100px;
}

/*FOOTER*/

/*RESPONSIVE PALIER 500PX*/

@media (min-width: 500px) and (max-width: 768px) {

    #navigation h2 {
        font-size: 15px;
    }

    #logoGretaEat img {
        width: 200px;
    }

    #recipeDetails {
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        flex-direction: column;
        font-size: 20px;
        border-radius: 20px;
        gap: 5px;
    }

    #container {
        padding: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    #navigation h2 {
        font-size: 20px;
    }

    #logoGretaEat img {
        width: 300px;
    }
}