* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/***********
HEADER
***********/

#logoGretaEat {
    display: flex;
    justify-content: center;
    background-image: url(/assets/istockphoto-1438547354-2048x2048.jpg);
}

#logoGretaEat img {
    width: 400px;
}

#navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: lightgrey;
    padding: 10px;
}

#navigation h2 {
    font-size: 30px;
}


#navigation h2:hover {
    color: rgba(85, 171, 20, 0.957);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}


section a {
    color: black;
    text-decoration: underline;
}

section a:hover {
    color: rgba(85, 171, 20, 0.957)
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

footer div {
    margin-top: 100px;
}

/*RESPONSIVE PALIER 500PX*/

@media (min-width: 500px) and (max-width: 768px) {

    #navigation h2 {
        font-size: 15px;
    }

    #logoGretaEat img {
        width: 200px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 50px;
        font-size: 30px;
    }

    section a {
        color: black;
        text-decoration: none;
        border: 3px solid;
        border-color: black;
        background-color: rgba(85, 171, 20, 0.957);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    section a:hover {
        color: white;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 30px;
        gap: 20px;
    }

}

@media (min-width: 768px) and (max-width: 1000px) {
    #navigation h2 {
        font-size: 20px;
    }

    #logoGretaEat img {
        width: 300px;
    }
}